/* impostazioni di reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.debug *{
    border: 1px solid rgb(26, 24, 24);
    padding: 10px;
}

.logo-header h1{
    display: inline-block;
    padding-bottom: 20px;
}
.logo-header{
    line-height: 10px;
}
/* contenuto main */
.container{
    max-width: 1000px;
    margin: auto;
}
.button-task{
    display:inline;
    width: 100%;
}
.list strong{
    list-style-type: none;
    display: inline-block;
}
span{
    border-radius: 20px;
}
.color-blu{
    background-color: aqua;
}
.color-lilla{
    background-color: deeppink;
}
.color-orange{
    background-color: coral;
}
.color-green{
    background-color: rgb(13, 228, 49);
}
.color-light-green{
    background-color: chartreuse;
}
.color-viola{
    background-color: blueviolet;
}