/* impostazioni di reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.debug *{
    border: 1px solid rgb(26, 24, 24);
    padding: 10px;
}

.logo-header h1{
    display: inline-block;

}
.logo-header{
    padding-bottom: 50px;
}
/* contenuto main */
.container{
    max-width: 1000px;
    margin: auto;
}
.button-task{
    display:inline;
    width: 100%;
}
.list{
    list-style-type: none;
}
strong{
    display: inline-block;
}